USE [NetworkDB]
GO
/****** Object:  Table [dbo].[NDB_AREA]    Script Date: 20-06-2019 00:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_AREA](
	[AR_ID] [int] IDENTITY(1,1) NOT NULL,
	[AR_CITY] [int] NOT NULL,
	[AR_NAME] [varchar](100) NOT NULL,
	[AR_OPERATOR] [varchar](100) NOT NULL,
	[AR_CreatedBy] [varchar](50) NOT NULL,
	[AR_CreateDate] [datetime] NOT NULL,
	[AR_ModifiedBy] [varchar](50) NOT NULL,
	[AR_ModifiedDate] [datetime] NOT NULL,
	[AR_IsActive] [tinyint] NOT NULL,
	[AR_IsArchived] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_BOXDETAILS]    Script Date: 20-06-2019 00:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_BOXDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOX_NAME] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_CITY]    Script Date: 20-06-2019 00:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_CITY](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY_CODE] [int] NOT NULL,
	[CITY_NAME] [varchar](200) NOT NULL,
	[CITY_STATECODE] [int] NULL,
	[CITY_ISACTIVE] [int] NULL,
	[CITY_ISARCHIVED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_COUNTRY]    Script Date: 20-06-2019 00:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_COUNTRY](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_CODE] [int] NOT NULL,
	[COUNTRY_NAME] [varchar](200) NOT NULL,
	[COUNTRY_COUNTRY] [int] NULL,
	[COUNTRY_ISACTIVE] [int] NULL,
	[COUNTRY_ISARCHIVED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_CUSTOMER]    Script Date: 20-06-2019 00:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_CUSTOMER](
	[Cust_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cust_Name] [varchar](100) NOT NULL,
	[Cust_Address] [varchar](100) NULL,
	[Cust_Street] [varchar](100) NOT NULL,
	[Cust_Pincode] [bigint] NULL,
	[Cust_City] [varchar](50) NULL,
	[Cust_State] [varchar](50) NULL,
	[Cust_Country] [varchar](50) NULL,
	[Cust_EmailId] [varchar](100) NULL,
	[Cust_MobileNo] [bigint] NULL,
	[Cust_CreatedBy] [varchar](50) NOT NULL,
	[Cust_CreateDate] [datetime] NOT NULL,
	[Cust_ModifiedBy] [varchar](50) NOT NULL,
	[Cust_ModifiedDate] [datetime] NOT NULL,
	[Cust_IsActive] [tinyint] NOT NULL,
	[Cust_IsArchived] [tinyint] NOT NULL,
	[Cust_BoxType] [int] NULL,
	[Cust_BoxSerialNo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_CUSTOMERPACK]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_CUSTOMERPACK](
	[NDB_ID] [int] IDENTITY(1,1) NOT NULL,
	[NDB_CUSTOMREID] [int] NOT NULL,
	[NDB_PACKID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NDB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_GENERIC]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_GENERIC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GR_ROLE] [int] NOT NULL,
	[GR_DESC] [nvarchar](100) NOT NULL,
	[GR_LRDESC] [nvarchar](100) NOT NULL,
	[GR_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_MAINMENU]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_MAINMENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NDB_MainMenu] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_Menu_List]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_Menu_List](
	[M_ID] [int] IDENTITY(1,1) NOT NULL,
	[M_P_ID] [int] NULL,
	[M_NAME] [varchar](50) NULL,
	[CONTROLLER_NAME] [varchar](50) NULL,
	[ACTION_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_Menu_List] PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_PACKAGEDETAILS]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_PACKAGEDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PKG_NAME] [nvarchar](200) NOT NULL,
	[PKG_PRICE] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_STATE]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_STATE](
	[STATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE_CODE] [int] NOT NULL,
	[STATE_NAME] [varchar](200) NOT NULL,
	[STATE_COUNTRY] [int] NULL,
	[STATE_ISACTIVE] [int] NULL,
	[STATE_ISARCHIVED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_STREET]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_STREET](
	[ST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ST_AREACODE] [int] NOT NULL,
	[ST_NAME] [varchar](100) NOT NULL,
	[ST_OPERATOR] [varchar](100) NOT NULL,
	[ST_CreatedBy] [varchar](50) NOT NULL,
	[ST_CreateDate] [datetime] NOT NULL,
	[ST_ModifiedBy] [varchar](50) NOT NULL,
	[ST_ModifiedDate] [datetime] NOT NULL,
	[ST_IsActive] [tinyint] NOT NULL,
	[ST_IsArchived] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDB_SUBMENU]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDB_SUBMENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NDB_SubMenu] [varchar](50) NOT NULL,
	[NDB_Controller] [varchar](50) NOT NULL,
	[NDB_Action] [varchar](50) NOT NULL,
	[NDB_MainMenuId] [int] NOT NULL,
	[NDb_RoleId] [int] NOT NULL,
	[NDB_STA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[U_UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[U_Firstname] [nvarchar](50) NULL,
	[U_Middlename] [nvarchar](50) NULL,
	[U_Lastname] [nvarchar](50) NULL,
	[U_Gender] [nvarchar](10) NULL,
	[U_Email] [nvarchar](100) NULL,
	[U_Phone] [nvarchar](50) NULL,
	[U_Password] [nvarchar](255) NULL,
	[U_IsActive] [int] NULL,
	[U_IsArchived] [int] NULL,
	[U_DateCreated] [datetime] NULL,
	[U_ROLE] [int] NULL,
	[U_AreaCode] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[U_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Backup]    Script Date: 20-06-2019 00:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Backup](
	[U_UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[U_Firstname] [nvarchar](50) NULL,
	[U_Middlename] [nvarchar](50) NULL,
	[U_Lastname] [nvarchar](50) NULL,
	[U_Gender] [nvarchar](10) NULL,
	[U_Email] [nvarchar](100) NULL,
	[U_Phone] [nvarchar](50) NULL,
	[U_Position] [nvarchar](100) NULL,
	[U_Password] [nvarchar](255) NULL,
	[U_IsActive] [int] NULL,
	[U_IsArchived] [int] NULL,
	[U_DateCreated] [datetime] NULL,
	[U_Image] [image] NULL,
	[U_ROLE] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NDB_AREA] ON 

INSERT [dbo].[NDB_AREA] ([AR_ID], [AR_CITY], [AR_NAME], [AR_OPERATOR], [AR_CreatedBy], [AR_CreateDate], [AR_ModifiedBy], [AR_ModifiedDate], [AR_IsActive], [AR_IsArchived]) VALUES (1, 1, N'Manguppam', N's@gmail.com', N's@gmail.com', CAST(N'2019-06-15T14:06:03.470' AS DateTime), N's@gmail.com', CAST(N'2019-06-15T14:06:03.470' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[NDB_AREA] OFF
SET IDENTITY_INSERT [dbo].[NDB_BOXDETAILS] ON 

INSERT [dbo].[NDB_BOXDETAILS] ([ID], [BOX_NAME]) VALUES (1, N'TCCL')
INSERT [dbo].[NDB_BOXDETAILS] ([ID], [BOX_NAME]) VALUES (2, N'BCCL')
SET IDENTITY_INSERT [dbo].[NDB_BOXDETAILS] OFF
SET IDENTITY_INSERT [dbo].[NDB_CITY] ON 

INSERT [dbo].[NDB_CITY] ([CITY_ID], [CITY_CODE], [CITY_NAME], [CITY_STATECODE], [CITY_ISACTIVE], [CITY_ISARCHIVED]) VALUES (1, 1, N'Vellore', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[NDB_CITY] OFF
SET IDENTITY_INSERT [dbo].[NDB_COUNTRY] ON 

INSERT [dbo].[NDB_COUNTRY] ([COUNTRY_ID], [COUNTRY_CODE], [COUNTRY_NAME], [COUNTRY_COUNTRY], [COUNTRY_ISACTIVE], [COUNTRY_ISARCHIVED]) VALUES (1, 1, N'India', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[NDB_COUNTRY] OFF
SET IDENTITY_INSERT [dbo].[NDB_CUSTOMER] ON 

INSERT [dbo].[NDB_CUSTOMER] ([Cust_ID], [Cust_Name], [Cust_Address], [Cust_Street], [Cust_Pincode], [Cust_City], [Cust_State], [Cust_Country], [Cust_EmailId], [Cust_MobileNo], [Cust_CreatedBy], [Cust_CreateDate], [Cust_ModifiedBy], [Cust_ModifiedDate], [Cust_IsActive], [Cust_IsArchived], [Cust_BoxType], [Cust_BoxSerialNo]) VALUES (1, N'Arun', N'Anna salai', N'2', 123456, N'1', N'1', N'1', N'a@gmail.com', 1234567890, N'admin@domain.com', CAST(N'2019-06-15T16:50:05.240' AS DateTime), N'admin@domain.com', CAST(N'2019-06-15T16:50:05.240' AS DateTime), 0, 0, NULL, NULL)
INSERT [dbo].[NDB_CUSTOMER] ([Cust_ID], [Cust_Name], [Cust_Address], [Cust_Street], [Cust_Pincode], [Cust_City], [Cust_State], [Cust_Country], [Cust_EmailId], [Cust_MobileNo], [Cust_CreatedBy], [Cust_CreateDate], [Cust_ModifiedBy], [Cust_ModifiedDate], [Cust_IsActive], [Cust_IsArchived], [Cust_BoxType], [Cust_BoxSerialNo]) VALUES (2, N'Arun', N'Anna salai', N'2', 123456, N'1', N'1', N'1', N'a@gmail.com', 1234567890, N'admin@domain.com', CAST(N'2019-06-15T16:50:06.593' AS DateTime), N'admin@domain.com', CAST(N'2019-06-16T14:48:28.113' AS DateTime), 1, 0, NULL, NULL)
INSERT [dbo].[NDB_CUSTOMER] ([Cust_ID], [Cust_Name], [Cust_Address], [Cust_Street], [Cust_Pincode], [Cust_City], [Cust_State], [Cust_Country], [Cust_EmailId], [Cust_MobileNo], [Cust_CreatedBy], [Cust_CreateDate], [Cust_ModifiedBy], [Cust_ModifiedDate], [Cust_IsActive], [Cust_IsArchived], [Cust_BoxType], [Cust_BoxSerialNo]) VALUES (1002, N'Arun', N'Anna salai', N'2', 123456, N'1', N'1', N'1', N'a@gmail.com', 1234567891, N'admin@domain.com', CAST(N'2019-06-16T20:30:45.180' AS DateTime), N'admin@domain.com', CAST(N'2019-06-16T20:30:45.180' AS DateTime), 1, 0, 1, N'A1234567890')
SET IDENTITY_INSERT [dbo].[NDB_CUSTOMER] OFF
SET IDENTITY_INSERT [dbo].[NDB_CUSTOMERPACK] ON 

INSERT [dbo].[NDB_CUSTOMERPACK] ([NDB_ID], [NDB_CUSTOMREID], [NDB_PACKID]) VALUES (1, 1002, 1)
INSERT [dbo].[NDB_CUSTOMERPACK] ([NDB_ID], [NDB_CUSTOMREID], [NDB_PACKID]) VALUES (2, 1003, 2)
SET IDENTITY_INSERT [dbo].[NDB_CUSTOMERPACK] OFF
SET IDENTITY_INSERT [dbo].[NDB_GENERIC] ON 

INSERT [dbo].[NDB_GENERIC] ([ID], [GR_ROLE], [GR_DESC], [GR_LRDESC], [GR_ID]) VALUES (1, 1, N'Operator', N'Admin', 2)
INSERT [dbo].[NDB_GENERIC] ([ID], [GR_ROLE], [GR_DESC], [GR_LRDESC], [GR_ID]) VALUES (2, 1, N'Collection Person', N'Admin', 3)
INSERT [dbo].[NDB_GENERIC] ([ID], [GR_ROLE], [GR_DESC], [GR_LRDESC], [GR_ID]) VALUES (8, 3, N'Admin', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[NDB_GENERIC] OFF
SET IDENTITY_INSERT [dbo].[NDB_MAINMENU] ON 

INSERT [dbo].[NDB_MAINMENU] ([ID], [NDB_MainMenu]) VALUES (1, N'User Management')
INSERT [dbo].[NDB_MAINMENU] ([ID], [NDB_MainMenu]) VALUES (2, N'Customer Management')
SET IDENTITY_INSERT [dbo].[NDB_MAINMENU] OFF
SET IDENTITY_INSERT [dbo].[NDB_Menu_List] ON 

INSERT [dbo].[NDB_Menu_List] ([M_ID], [M_P_ID], [M_NAME], [CONTROLLER_NAME], [ACTION_NAME]) VALUES (1, 0, N'User Management', NULL, NULL)
INSERT [dbo].[NDB_Menu_List] ([M_ID], [M_P_ID], [M_NAME], [CONTROLLER_NAME], [ACTION_NAME]) VALUES (2, 1, N'Add User', N'UserManagement', N'AddUser')
INSERT [dbo].[NDB_Menu_List] ([M_ID], [M_P_ID], [M_NAME], [CONTROLLER_NAME], [ACTION_NAME]) VALUES (3, 1, N'Users List', N'UserManagement', N'UsersList')
SET IDENTITY_INSERT [dbo].[NDB_Menu_List] OFF
SET IDENTITY_INSERT [dbo].[NDB_PACKAGEDETAILS] ON 

INSERT [dbo].[NDB_PACKAGEDETAILS] ([ID], [PKG_NAME], [PKG_PRICE]) VALUES (1, N'BASIC 1', CAST(180.00 AS Decimal(18, 2)))
INSERT [dbo].[NDB_PACKAGEDETAILS] ([ID], [PKG_NAME], [PKG_PRICE]) VALUES (2, N'BASIC 2', CAST(280.00 AS Decimal(18, 2)))
INSERT [dbo].[NDB_PACKAGEDETAILS] ([ID], [PKG_NAME], [PKG_PRICE]) VALUES (3, N'BASIC 3', CAST(380.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NDB_PACKAGEDETAILS] OFF
SET IDENTITY_INSERT [dbo].[NDB_STATE] ON 

INSERT [dbo].[NDB_STATE] ([STATE_ID], [STATE_CODE], [STATE_NAME], [STATE_COUNTRY], [STATE_ISACTIVE], [STATE_ISARCHIVED]) VALUES (1, 1, N'Tamil Nadu', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[NDB_STATE] OFF
SET IDENTITY_INSERT [dbo].[NDB_STREET] ON 

INSERT [dbo].[NDB_STREET] ([ST_ID], [ST_AREACODE], [ST_NAME], [ST_OPERATOR], [ST_CreatedBy], [ST_CreateDate], [ST_ModifiedBy], [ST_ModifiedDate], [ST_IsActive], [ST_IsArchived]) VALUES (2, 1, N'Big street', N's@gmail.com', N's@gmail.com', CAST(N'2019-06-15T14:13:12.613' AS DateTime), N's@gmail.com', CAST(N'2019-06-15T14:13:12.613' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[NDB_STREET] OFF
SET IDENTITY_INSERT [dbo].[NDB_SUBMENU] ON 

INSERT [dbo].[NDB_SUBMENU] ([ID], [NDB_SubMenu], [NDB_Controller], [NDB_Action], [NDB_MainMenuId], [NDb_RoleId], [NDB_STA]) VALUES (2, N'Add User', N'UserManagement', N'AddUser', 1, 1, N'Y')
INSERT [dbo].[NDB_SUBMENU] ([ID], [NDB_SubMenu], [NDB_Controller], [NDB_Action], [NDB_MainMenuId], [NDb_RoleId], [NDB_STA]) VALUES (3, N'Users List', N'UserManagement', N'UsersList', 1, 1, N'Y')
INSERT [dbo].[NDB_SUBMENU] ([ID], [NDB_SubMenu], [NDB_Controller], [NDB_Action], [NDB_MainMenuId], [NDb_RoleId], [NDB_STA]) VALUES (4, N'Active List', N'UserManagement', N'ActiveUsers', 1, 1, N'Y')
SET IDENTITY_INSERT [dbo].[NDB_SUBMENU] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([U_UserID], [U_Firstname], [U_Middlename], [U_Lastname], [U_Gender], [U_Email], [U_Phone], [U_Password], [U_IsActive], [U_IsArchived], [U_DateCreated], [U_ROLE], [U_AreaCode]) VALUES (1, N'Admin', N'Admin', N'Admin', N'Male', N'admin@domain.com', N'123456789', N'NRmacANXZLxcP3FyLn0u+bf5+qaAHuiFB56/nr7dG8U=', 1, 0, CAST(N'2019-06-02T14:38:45.970' AS DateTime), 1, 0)
INSERT [dbo].[Users] ([U_UserID], [U_Firstname], [U_Middlename], [U_Lastname], [U_Gender], [U_Email], [U_Phone], [U_Password], [U_IsActive], [U_IsArchived], [U_DateCreated], [U_ROLE], [U_AreaCode]) VALUES (2, N'Dan', N'Lock', N'D', N'Male', N'dan@gmail.com', N'1234567890', N'F5u54duDQeG8NrLOr7CKDA==', 1, 0, CAST(N'2019-06-05T17:39:47.650' AS DateTime), 1, 0)
INSERT [dbo].[Users] ([U_UserID], [U_Firstname], [U_Middlename], [U_Lastname], [U_Gender], [U_Email], [U_Phone], [U_Password], [U_IsActive], [U_IsArchived], [U_DateCreated], [U_ROLE], [U_AreaCode]) VALUES (3, N'Raj', N'Kumar', N'R', N'Male', N'raj@gmail.com', N'1234567890', N'NRmacANXZLxcP3FyLn0u+bf5+qaAHuiFB56/nr7dG8U=', 1, 0, CAST(N'2019-06-17T23:04:13.407' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Users_Backup] ON 

SET IDENTITY_INSERT [dbo].[Users_Backup] OFF
ALTER TABLE [dbo].[NDB_CUSTOMER] ADD  DEFAULT (NULL) FOR [Cust_Address]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_ISACTIVE]  DEFAULT ((1)) FOR [U_IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_ISARCHIVED]  DEFAULT ((0)) FOR [U_IsArchived]
GO
/****** Object:  StoredProcedure [dbo].[DashboardStats]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC DashboardStats
-- =============================================
CREATE PROCEDURE [dbo].[DashboardStats]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT(
      SELECT COUNT(*)
	  FROM Users WHERE U_IsArchived = 0
	  ) AS UsersList,
	  (SELECT COUNT(*)
	  FROM Users WHERE U_IsActive = 1
	  ) AS ActiveUsers,
	  (SELECT COUNT(*)
	  FROM Users WHERE U_IsActive = 0 AND U_IsArchived != 1
	  ) AS InActiveUsers,
	  (SELECT COUNT(*)
	  FROM Users WHERE U_IsArchived = 1
	  ) AS ArchivedUsers
END
GO
/****** Object:  StoredProcedure [dbo].[DeactivateActivateCustomer]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeactivateActivateCustomer] --'1','Activate'
	-- Add the parameters for the stored procedure here
	@UserID bigint,
	@Operation nvarchar(50)
    AS
BEGIN
	IF (@Operation = 'Deactivate') 
		BEGIN
		UPDATE NDB_CUSTOMER SET Cust_IsActive = '0' WHERE  Cust_ID=@UserID
		END
	ELSE 
		BEGIN
		UPDATE NDB_CUSTOMER SET Cust_IsActive = '1' WHERE Cust_ID=@UserID
		END	
		
	SELECT 'Y' 
END
GO
/****** Object:  StoredProcedure [dbo].[DeactivateActivateUser]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeactivateActivateUser] --'1','Activate'
	-- Add the parameters for the stored procedure here
	@UserID bigint,
	@Operation nvarchar(50)
    AS
BEGIN
	IF (@Operation = 'Deactivate') 
		BEGIN
		UPDATE Users SET U_IsActive = '0' WHERE U_UserID=@UserID
		END
	ELSE 
		BEGIN
		UPDATE Users SET U_IsActive = '1' WHERE U_UserID=@UserID
		END	 
END
GO
/****** Object:  StoredProcedure [dbo].[EditUser]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditUser] 
	-- Add the parameters for the stored procedure here
	@UserID bigint,
	@Firstname nvarchar(50),
	@Middlename nvarchar(50),
	@Lastname nvarchar(50),
	@Email nvarchar(100),
	@Gender nvarchar(50),
	@Phone nvarchar(100),
	@Position nvarchar(100),
	@Password nvarchar(100),
	@Image image
    AS
BEGIN
	IF (@Password = NULL) 
		BEGIN
		UPDATE Users SET 
		[U_Firstname] = @Firstname,
		[U_Middlename] = @Middlename,
		[U_Lastname] = @Lastname,
		[U_Email] = @Email,
		[U_Gender] = @Gender,
		[U_Phone] = @Phone,
		[U_Position] = @Position,
		[U_Image] = @Image
		WHERE U_UserID=@UserID
		END
	ELSE 
		BEGIN
		UPDATE Users SET 
		[U_Firstname] = @Firstname,
		[U_Middlename] = @Middlename,
		[U_Lastname] = @Lastname,
		[U_Email] = @Email,
		[U_Gender] = @Gender,
		[U_Phone] = @Phone,
		[U_Position] = @Position,
		[U_Password] = @Password,
		[U_Image] = @Image
		WHERE U_UserID=@UserID
		END	 
END
GO
/****** Object:  StoredProcedure [dbo].[GetActiveCustomer]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetCustomer
CREATE PROCEDURE [dbo].[GetActiveCustomer]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT 
	C.Cust_ID [CustomerId],
	C.Cust_Name [CustomerName],
	C.Cust_Address [CustomerAddress],	
	S.ST_NAME [CustomerStreet],
	CI.CITY_NAME [CustomerCity],
	ST.STATE_NAME [CustomerState],
	CN.COUNTRY_NAME [CustomerCountry],
	C.Cust_EmailId [CustomerEmailId],
	cast(C.Cust_MobileNo as varchar) [CustomerMobileNo],
	C.Cust_IsActive [IsActive],
	C.Cust_IsArchived [IsArchived],
	cast(C.Cust_Pincode  as varchar) CustomerPincode
	FROM NDB_CUSTOMER C 
	INNER JOIN NDB_STREET S
	ON C.CUST_STREET = S.ST_ID
	INNER JOIN NDB_CITY CI
	ON CI.CITY_CODE = C.CUST_CITY
	INNER JOIN NDB_STATE ST
	ON ST.STATE_CODE = C.CUST_STATE
	INNER JOIN NDB_COUNTRY CN
	ON CN.COUNTRY_CODE = C.CUST_COUNTRY
	 WHERE C.Cust_IsActive ='1' 
	
END
 
GO
/****** Object:  StoredProcedure [dbo].[GetActiveUsers]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetActiveUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT U_UserID [UserID],
	U_Firstname [Firstname],
	U_Middlename [Middlename],
	U_Lastname [Lastname],
	U_Gender [Gender],
	U_Email [Email],
	U_Phone [Phone],
	g.GR_DESC [Position],
	U_Password [Password],
	U_IsActive [IsActive],
	U_IsArchived [IsArchived],
	U_DateCreated [DateCreated]	
	FROM Users u
	inner join 
	NDB_GENERIC g
	on u.U_ROLE = g.GR_ID WHERE U_IsActive='1' AND U_IsArchived='0' ORDER by U_DateCreated DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetArchivedUsers]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArchivedUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT U_UserID [UserID],
	U_Firstname [Firstname],
	U_Middlename [Middlename],
	U_Lastname [Lastname],
	U_Gender [Gender],
	U_Email [Email],
	U_Phone [Phone],
	g.GR_DESC [Position],
	U_Password [Password],
	U_IsActive [IsActive],
	U_IsArchived [IsArchived],
	U_DateCreated [DateCreated]
	FROM Users u
	inner join 
	NDB_GENERIC g
	on u.U_ROLE = g.GR_ID WHERE U_IsArchived='1' ORDER by U_DateCreated DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomer]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetCustomer
CREATE PROCEDURE [dbo].[GetCustomer]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT 
	C.Cust_ID [CustomerId],
	C.Cust_Name [CustomerName],
	C.Cust_Address [CustomerAddress],	
	S.ST_NAME [CustomerStreet],
	CI.CITY_NAME [CustomerCity],
	ST.STATE_NAME [CustomerState],
	CN.COUNTRY_NAME [CustomerCountry],
	C.Cust_EmailId [CustomerEmailId],
	cast(C.Cust_MobileNo as varchar) [CustomerMobileNo],
	C.Cust_IsActive [IsActive],
	C.Cust_IsArchived [IsArchived],
	cast(C.Cust_Pincode  as varchar) CustomerPincode
	FROM NDB_CUSTOMER C 
	INNER JOIN NDB_STREET S
	ON C.CUST_STREET = S.ST_ID
	INNER JOIN NDB_CITY CI
	ON CI.CITY_CODE = C.CUST_CITY
	INNER JOIN NDB_STATE ST
	ON ST.STATE_CODE = C.CUST_STATE
	INNER JOIN NDB_COUNTRY CN
	ON CN.COUNTRY_CODE = C.CUST_COUNTRY
	 WHERE C.Cust_IsActive ='1' 
	--SELECT 
	--C.Cust_ID [CustomerId],
	--C.Cust_Name [CustomerName],
	--C.Cust_Address [CustomerAddress],	
	--cast(C.Cust_Street as int) [CustomerStreet],
	--cast(C.Cust_City as int) [CustomerCity],
	--cast(C.Cust_State as int) [CustomerState],
	--cast(C.Cust_Country as int) [CustomerCountry],
	--C.Cust_EmailId [CustomerEmailId],
	--cast(C.Cust_MobileNo as varchar) [CustomerMobileNo],
	--C.Cust_IsActive [IsActive],
	--C.Cust_IsArchived [IsArchived],
	--cast(C.Cust_Pincode  as varchar) CustomerPincode
	--FROM NDB_CUSTOMER C  WHERE C.Cust_IsActive ='1' 
	
END
GO
/****** Object:  StoredProcedure [dbo].[GetEditCustomer]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetEditCustomer
CREATE PROCEDURE [dbo].[GetEditCustomer]
	-- Add the parameters for the stored procedure here
    AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from	 
	SELECT 
	C.Cust_ID [CustomerId],
	C.Cust_Name [CustomerName],
	C.Cust_Address [CustomerAddress],	
	cast(C.Cust_Street as int) [CustomerStreet],
	cast(C.Cust_City as int) [CustomerCity],
	cast(C.Cust_State as int) [CustomerState],
	cast(C.Cust_Country as int) [CustomerCountry],
	C.Cust_EmailId [CustomerEmailId],
	cast(C.Cust_MobileNo as varchar) [CustomerMobileNo],
	C.Cust_IsActive [IsActive],
	C.Cust_IsArchived [IsArchived],
	cast(C.Cust_Pincode  as varchar) CustomerPincode,
	cast(C.Cust_BoxType as int) CustomerBoxType,
	C.Cust_BoxSerialNo CustomerBoxSerialNo,	
	cast(cp.NDB_PACKID as int) CustomerPackageId
	FROM NDB_CUSTOMER C 
	inner join NDB_CUSTOMERPACK CP
	on c.Cust_ID = CP.NDB_CUSTOMREID
	WHERE C.Cust_IsActive ='1'
END
GO
/****** Object:  StoredProcedure [dbo].[GetInActiveUsers]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInActiveUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT U_UserID [UserID],
	U_Firstname [Firstname],
	U_Middlename [Middlename],
	U_Lastname [Lastname],
	U_Gender [Gender],
	U_Email [Email],
	U_Phone [Phone],
	g.GR_DESC [Position],
	U_Password [Password],
	U_IsActive [IsActive],
	U_IsArchived [IsArchived],
	U_DateCreated [DateCreated]
	FROM Users u
	inner join 
	NDB_GENERIC g
	on u.U_ROLE = g.GR_ID  WHERE U_IsActive='0' AND U_IsArchived='0' ORDER by U_DateCreated DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT 
	U_UserID [UserID],
	U_Firstname [Firstname],
	U_Middlename [Middlename],
	U_Lastname [Lastname],
	U_Gender [Gender],
	U_Email [Email],
	U_Phone [Phone],
	g.GR_DESC [Position],
	U_Password [Password],
	U_IsActive [IsActive],
	U_IsArchived [IsArchived],
	U_DateCreated [DateCreated]
	FROM Users u
	inner join 
	NDB_GENERIC g
	on u.U_ROLE = g.GR_ID WHERE U_IsArchived='0' ORDER by U_DateCreated DESC
	
END

GO
/****** Object:  StoredProcedure [dbo].[LoadCommonData]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GOWDHAM N
-- Create date: 17/06/2019
-- Description:	Load Data Based on User Roles
-- EXEC LoadData 'admin@domain.com','ADMIN'
-- =============================================
CREATE PROCEDURE [dbo].[LoadCommonData]
(
@UserID varchar(100),
@flag varchar(20)
)
AS
BEGIN

	
	IF @FLAG = 'ADMIN'
	BEGIN		
		
		SELECT GR_ID [GR_CODE],GR_DESC [DESCRIPTION] 
		FROM NDB_GENERIC WHERE GR_ROLE  = (SELECT U_ROLE FROM USERS WHERE U_EMAIL = @USERID)

		SELECT AR_ID [AREA_CODE],AR_NAME [AREA_NAME] FROM NDB_AREA

	END
	

END
GO
/****** Object:  StoredProcedure [dbo].[LoadCountryLabels]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- EXEC LoadCountryLabels
-- =============================================
CREATE PROCEDURE [dbo].[LoadCountryLabels]
AS
BEGIN
	 
	SELECT CITY_CODE,CITY_NAME FROM NDB_CITY
	 
	SELECT STATE_CODE,STATE_NAME FROM NDB_STATE
 
	SELECT COUNTRY_CODE,COUNTRY_NAME FROM NDB_COUNTRY

	SELECT ST_ID STREET_CODE,ST_NAME AS STREET_NAME  FROM NDB_STREET

	SELECT ID,BOX_NAME  FROM NDB_BOXDETAILS

	SELECT ID,PKG_NAME FROM NDB_PACKAGEDETAILS

END
GO
/****** Object:  StoredProcedure [dbo].[LoadDynamicMenu]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gowdham N
-- Create date: 18/06/2019
-- Description:	Load Menus Dynamically
-- EXEC LoadDynamicMenu 1,1
-- =============================================
CREATE PROCEDURE [dbo].[LoadDynamicMenu]
(
@UserId int,
@RoleId int
)
AS
BEGIN
	
	--select * from NDB_Menu_List WHERE M_P_ID = 0
	 select a.ID [MainMenuId],
			a.NDB_MainMenu [MainMenuName],
			b.ID [SubMenuId],
			b.NDB_SubMenu [SubMenuName],
			b.NDB_Controller [Controller],
			b.NDB_Action [Action],
			b.NDb_RoleId [RoleId],
			c.GR_DESC [RoleName] from NDB_MAinmenu A
	 inner join NDB_SUBMENU b
	 on a.ID = b.NDB_MainMenuId
	 inner join NDB_GENERIC c
	 on b.NDb_RoleId = c.GR_ID
	 where c.GR_ROLE = 3
	 and b.NDb_RoleId = @RoleId
	 and b.NDB_STA = 'Y'
	 --select * from  NDB_SUBMENU  

END

 
GO
/****** Object:  StoredProcedure [dbo].[NSP_AddCustomer]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gowdham N
-- Create date: 13-06-2019
-- Description:	Add Customer Details
-- =============================================
CREATE PROCEDURE [dbo].[NSP_AddCustomer]
(
@CustName varchar(50),
@CustAddress varchar(100),
@CustStreet  varchar(100),
@CustPincode int,
@CustCity varchar(50),
@CustState varchar(50),
@CustCountry varchar(50),
@CustEmail varchar(100),
@CustMobileNo varchar(100),
@CustUserId varchar(20),
@CustBoxId int,
@CustBoxSerailNo nvarchar(200),
@CustPackId int
)
AS
BEGIN TRANSACTION
BEGIN TRY
	
	DECLARE @CUSTID INT

	INSERT INTO NDB_CUSTOMER(Cust_Name,Cust_Address,Cust_Street,Cust_Pincode,Cust_City,Cust_State,Cust_Country,Cust_EmailId
							,Cust_MobileNo,Cust_CreatedBy,Cust_CreateDate,Cust_ModifiedBy,Cust_ModifiedDate,Cust_IsActive,Cust_IsArchived,
							Cust_BoxType,Cust_BoxSerialNo)
	SELECT @CustName,@CustAddress,@CustStreet,@CustPincode,@CustCity,@CustState,@CustCountry,@CustEmail,
		   @CustMobileNo,@CustUserId,GETDATE(),@CustUserId,GETDATE(),1,0,@CustBoxId,@CustBoxSerailNo
	SET @CUSTID = (SELECT SCOPE_IDENTITY())

	INSERT INTO NDB_CUSTOMERPACK VALUES(@CUSTID,@CustPackId)
	
	SELECT 'Y'
	
END TRY
BEGIN CATCH

	IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION;  
	
	SELECT  
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_SEVERITY() AS ErrorSeverity  
        ,ERROR_STATE() AS ErrorState  
        ,ERROR_PROCEDURE() AS ErrorProcedure  
        ,ERROR_LINE() AS ErrorLine  
        ,ERROR_MESSAGE() AS ErrorMessage; 

END CATCH

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;				 
GO
/****** Object:  StoredProcedure [dbo].[NSP_LoginUser]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec NSP_LoginUser 'admin@domain.com','admin1234'
CREATE PROCEDURE [dbo].[NSP_LoginUser]
(
	@Email		nvarchar(100),
	@Password	nvarchar(100)
)
AS
BEGIN
	SELECT U_UserID [UserID],U_Firstname [Firstname],'S' [Position],U_Email [Email],U_ROLE [RoleId] 
	FROM Users WHERE U_Email=@Email AND U_Password=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[NSP_UpdateCustomer]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gowdham N
-- Create date: 13-06-2019
-- Description:	Add Customer Details
-- =============================================
CREATE PROCEDURE [dbo].[NSP_UpdateCustomer]
(
@CustId varchar(10),
@CustName varchar(50),
@CustAddress varchar(100),
@CustStreet  varchar(100),
@CustPincode int,
@CustCity varchar(50),
@CustState varchar(50),
@CustCountry varchar(50),
@CustEmail varchar(100),
@CustMobileNo varchar(100),
@CustUserId varchar(20),
@UserId varchar(100),
@CustBoxId int,
@CustBoxSerailNo nvarchar(200),
@CustPackId int
)
AS
BEGIN TRANSACTION
BEGIN TRY	 

	update A set 
	A.Cust_Name = @CustName,
	A.Cust_Address=@CustAddress,
	A.Cust_Street = @CustStreet,
	A.Cust_State = @CustState,
	A.Cust_Pincode = @CustPincode,
	A.Cust_City = @CustCity,	 
	A.Cust_Country = @CustCountry,
	A.Cust_EmailId = @CustEmail,
	A.Cust_ModifiedBy= @UserId,
	A.Cust_MobileNo = @CustMobileNo,
	A.Cust_ModifiedDate = GETDATE(),
	A.Cust_BoxType = @CustBoxId,
	A.Cust_BoxSerialNo = @CustBoxSerailNo	
	FROM NDB_CUSTOMER A where a.Cust_ID = @CustId

	update NDB_CUSTOMERPACK set NDB_PACKID = @CustPackId where NDB_CUSTOMREID = @CustId
	 
	SELECT 'Y'
	
END TRY
BEGIN CATCH

	IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION;  
	
	SELECT  
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_SEVERITY() AS ErrorSeverity  
        ,ERROR_STATE() AS ErrorState  
        ,ERROR_PROCEDURE() AS ErrorProcedure  
        ,ERROR_LINE() AS ErrorLine  
        ,ERROR_MESSAGE() AS ErrorMessage; 

END CATCH

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;				 
GO
/****** Object:  StoredProcedure [dbo].[RemoveUser]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUser] --'1'
	-- Add the parameters for the stored procedure here
	@UserID bigint
    AS
BEGIN
	
		UPDATE Users SET 
		U_IsArchived = '1',
		U_IsActive = '0'		
		WHERE U_UserID=@UserID
		
END
GO
/****** Object:  StoredProcedure [dbo].[SaveUser]    Script Date: 20-06-2019 00:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SaveUser]
		   @Firstname nvarchar(50),
		   @Middlename nvarchar(50),
		   @Lastname nvarchar(50),
		   @Email nvarchar(100),
		   @Gender nvarchar(50),
		   @Phone nvarchar(100),
		   @Position nvarchar(100),
		   @Password nvarchar(100),
		   @AreaCode int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- Insert User Details Here
			INSERT INTO [dbo].[Users]
           ([U_Firstname]
		   ,[U_Middlename]
		   ,[U_Lastname]
		   ,[U_Gender]
           ,[U_Email]           
           ,[U_Phone]		   
           ,[U_Password]           
           ,[U_DateCreated]
		   ,[U_ROLE]
		   ,[U_AreaCode])
     VALUES
           (@Firstname
		   ,@Middlename
		   ,@Lastname
		   ,@Gender
           ,@Email           
           ,@Phone		   
           ,@Password           
           ,GETDATE()
		   ,@Position
		   ,@AreaCode
		   )
	

END
GO
